<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Readings.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>268A6FF0E415A275F8D2D1075E1E14570E1D6221</string>
				<key>dateExpires</key>
				<string>16/03/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>268A6FF0E415A275F8D2D1075E1E14570E1D6221</string>
						<key>dateExpires</key>
						<string>16/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCU9LAX524</string>
						<key>name</key>
						<string>jibran saeed</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MCU9LAX524.com.readings.readings</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MCU9LAX524</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Readings.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0e9315ba-1a14-468d-84ae-236e7c5d2e15</string>
				<key>dateExpires</key>
				<string>16/03/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.readings.readings</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MCU9LAX524</string>
				<key>name</key>
				<string>jibran saeed</string>
			</dict>
			<key>versionNumber</key>
			<string>1.26</string>
		</dict>
	</array>
</dict>
</plist>
